.category-boxes{
	margin: 50px 0;
}
.category-boxes a{
	color: #fff;
	display: block;
	text-align: center;
	padding: 20px;
	height: 200px;
	position: relative;
	margin-bottom: 30px;
}
.category-boxes a::after{
	content: " ";
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	transition: all 250ms ease;
}
.category-boxes a:hover{
	text-decoration: none;
}
.category-boxes a:hover::after{
	background-color: rgba(253, 47, 47, .2);
}
.category-boxes h3{
	margin: 0;
	text-transform: uppercase;
	font-size: 18px;
	position: absolute;
	top: 44%;
	text-align: center;
	width: 100%;
	left: 0;
}