.lohoom-slider {
	background-color: #f9fafb;
	padding: 40px 0 60px;
	border-top: 1px solid #eee;
  position: relative;
}
.owl-carousel .owl-item {
  background: #fff;
  color: #666;
  margin-left: 10px;
}
.owl-carousel .owl-item:first-child {
  margin-left: 0;
}
.owl-carousel .owl-item img {
  width: 100%;
}
.item-box h4 {
  margin: 10px;
  color: #333;
}
.item-box p {
  margin: 10px;
}
.item-box button {
  margin: 10px;
}
.lohoom-slider h3 {
	display: inline-block;
	margin: 0 0 30px;
	font-size: 20px;
}
.lohoom-slider .navigation-slider {
  float: right;
}
.lohoom-slider .navigation-slider a {
  display: inline-block;
  background-color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #a1b1bc;
  font-size: 16px;
}
.owl-theme .owl-controls {
	position: absolute;
	top: -56px;
	right: 0;
	margin: 0;
}
.owl-theme .owl-controls .owl-buttons div{
	border-radius: 0;
	margin: 0 0 0 5px;
	padding: 5px 10px;
	background-color: #fff;
	color: #666;
	border:1px solid transparent;
}
.owl-theme .owl-controls .owl-buttons div:hover{
	border-color: #ff9595;
	color: #f70202;
}