.home-header{
	padding-top: 40px;
	background-size: 100%;
	color:#fff;
}
.home-header::after{
	content: "";
	width: 100%;
	height: 100%;
	background-color: red;
}
.nav-menu{
	margin: 0 auto;

}
.nav-menu > li > a{
	color: #fff;
}
.nav-menu > li > a{}
.nav-menu .cart-icon{
	position: relative;
}
.nav-menu .cart-icon i{
  font-size: 20px;
}
.nav-menu .cart-icon .label{
	font-size: 10px;
	padding: 3px 5px;
	border-radius: 50%;
	position: absolute;
	top: -8px;
	right: -6px;
}
.welcome-text{
	margin: 150px 0;
	cursor: default;
}
@media (max-width: 768px) {
	.nav-menu{
		text-align: center;
		margin-top: 22px;
		font-size: 18px;
		text-align: center;
		width: 100%;
	}
	.home-header{
		background-size: cover;
		background-position: center center;
	}
	.welcome-text{
		margin: 40px 0;
	}
}
.welcome-text h3{
	font-weight: normal;
	border: 1px solid #fff;
	padding: 6px 15px;
	text-transform: uppercase;
	font-size: 18px;
	display: inline-block;
}
.welcome-text h2{
	margin: 10px;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
}
.welcome-text h4{
	font-weight: normal;
}
.welcome-text .btn{
	margin-top: 20px;
	padding: 6px 25px;
	font-size: 13px;
}
.header-nav-secondary .navbar-default{
	margin: 0 auto;
	max-width: 920px;
	background-color: rgba(255,255,255, .7);
}
.header-nav-secondary .navbar-nav{}
.header-nav-secondary .navbar-nav > li{}
.header-nav-secondary .navbar-nav > li > a{
	border-bottom: 2px solid transparent;
	padding: 15px 28px;
}
.header-nav-secondary .navbar-nav>li>a{
	color: #000;
}
.header-nav-secondary .navbar-nav>li>a:focus,
.header-nav-secondary .navbar-nav>li>a:hover,
.header-nav-secondary .navbar-nav>li>a.active:hover{
	color: #555;
	background-color: rgba(255,255,255,0.8);
}
.header-nav-secondary .navbar-nav > li.active > a,
.header-nav-secondary .navbar-nav > li > a.active{
	background-color: transparent;
	color: #000;
	border-color: #fd2f2f;
}
@media (max-width: 768px) {
	.header-nav-secondary .navbar-nav > li.active > a,
	.header-nav-secondary .navbar-nav > li > a.active{
		background-color: #fd2f2f;
		color: #fff;
		border-color: transparent;
	}
}
.search-popover-form{
	margin: 0 0 8px 0;
	padding: 0;
}
.header-nav-secondary.affix{
	position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.header-nav-secondary.affix .navbar{
  border: 0 none;
}