.main-footer{
  background-color: #2b2b2b;
}
.main-footer hr{
	border-color: #444;
}
.main-footer a{
	color:#fff;
}
.main-footer a:hover,
.main-footer a:active,
.main-footer a:focus{
	color:#fff;
	text-decoration: underline;
}
.feature-icons {
	text-align: center;
	overflow: hidden;
	border-bottom: 1px solid #444;
	background-color: #1d1d1d;
	padding: 14px 0;
	cursor: default;
	text-transform: uppercase;
}
.feature-icons .list-inline{
	margin: 0;
}
.feature-icons li {
	margin-left: auto;
	margin-right: auto;
	border-right: 1px solid #444;
	padding: 0 40px;
}
.feature-icons li:last-child{
	border: 0 none;
}
@media (max-width: 1000px) {
	.feature-icons li{
		border: 0 none;
	}
}
.feature-icons li > span {
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin: 10px auto;
    display: block;
}
.feature-icons li > i {
	background-image: url(../img/icons.png);
	width: 67px;
	height: 86px;
	display: block;
	margin: auto;
}
.feature-icons li > i.halal-icon {
  background-position: -207px 0;
}
.feature-icons li > i.easy-to-cook-icon {
  background-position: 94px;
  width: 72px;
}
.feature-icons li > i.fresh-icon {
  background-position: -490px;
}
.feature-icons li > i.healthy-icon {
  background-position: -302px;
}
.feature-icons li > i.delivery-icon {
  background-position: -400px;
}
.footer-logo {
	display: block;
	margin: 20px 0 25px;
}
footer .lohoom-info {
  color: #b5b5b5;
}
.read-more-footer {
  color: #fff;
  font-size: 13px;
  margin: 10px 0;
}
.read-more-footer > i {
  margin-right: 4px;
}
.read-more-footer:hover {
  color: #999;
  text-decoration: none;
}
.social-media > li {
	padding-left: 0;
  padding-right: 1px;
}
.social-media a {
	display: block;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	font-size: 16px;
	color: #fff;
	border-radius: 3px;
	opacity: 1;
	transition: opacity 150ms ease;
}
.social-media a:hover{
	opacity: 0.8;
}
.rss-link {
  background-color: #ffb400;
}
.facebook-link {
  background-color: #1b78c7;
}
.twitter-link {
  background-color: #00bff3;
}
.google-link {
  background-color: #d34836;
}
.subscribe > label {
  font-size: 20px;
  margin: 10px 0;
  color: #fff;
}
.btn-subscribe {
  background-color: #383838;
  color: #acacac;
  width: 100%;
  margin: 13px 0;
  border: 0;
  font-size: 14px;
	text-transform: uppercase;
}
.btn-subscribe:active,
.btn-subscribe:focus,
.btn-subscribe:hover{
  color: #fff;
}
h3.section-title {
	color: #fff;
	font-size: 16px;
	margin: 47px 0 34px;
	text-transform: uppercase;
}
.list-items-footer h4 {
  color: #fff;
  font-size: 15px;
}
.list-items-footer p {
  color: #999;
  margin: 10px 0;
}
.list-items-footer img {
  border: 1px solid #ddd;
}
.media.list-items-footer {
	margin: 15px 0;
	border-bottom: 1px solid #444;
	padding: 0 0 15px;
}
.media.list-items-footer:last-child{
	border: 0 none;
}
.contact-us h6 {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
}
.contact-us {
	margin-bottom: 15px;
	border-bottom: 1px solid #444;
	padding-bottom: 15px;
}
.contact-us:last-child{
	border:0 none;
}
.contact-us a, .contact-us {
  color: #b5b5b5;
}
.contact-us a {
  display: block;
}
.footer-bottom {
	background-color: #1c1c1c;
	padding: 20px 0;
	color: #b5b5b5;
	border-top: 1px solid #444;
}
.footer-bottom p {
  display: inline-block;
}
.links-footer li.active a {
  color: #fd2f2f;
}
