@import url('_home_footer.css');
@import url("_home_header.css");
@import url('_home_items.css');
@import url('_category_boxes.css');
body{
	font-family: 'Roboto', sans-serif;
}
.block{
	display: block;
}
.btn{
	text-transform: uppercase;
}
@media (min-width: 1200px){
	.container {
	    width: 1126px;
	}
}
@media (max-width: 768px){
	.text-center-xs{
		text-align: center;
	}
}
